<p>The ECIS TEER24 is designed to carry out traditional trans-epithelial/endothelial electrical resistance measurements to monitor the barrier function of cell layers grown on membrane insert filters. Data are collected continuously from up to 24 independent wells and reported as real-time changes in the carrier function of cell layers in ohm-cm.

~section 2~

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#overview">Overview</a></li>
  <!-- <li><a data-toggle="tab" href="#video">Video</a></li> -->
  <li><a data-toggle="tab" href="#specs">Specs</a></li>
  <li><a data-toggle="tab" href="#options">Options</a></li>
  <li><a data-toggle="tab" href="#data">Data Sheets</a></li>
</ul>

<div class="tab-content mt-2">
  
  <div id="overview" class="tab-pane fade in active">
    <h2>Barrier Function Measurement System</h2>
    <p>This system provides repeatable, automated TEER measurements to electrically monitor the barrier function of epithelial and endothelial cells as they are grown on membrane insert 
      filters in 24 independent wells. Data are collected continuously and it reports real-time changes in barrier function of cell layers in ohm-cm2.</p>
    
    <h3>Bioiological Benefits</h3>
    <ul>
      <li>Continuous long-term measurement of TEER from under 10 to 10,000 ohm cm2 in up to 24 wells</li>
      <li>Uses standard commercially available membrane inserts</li>
      <li>Fast barrier function dynamics can be monitored</li>
      <li>Accurately measures Endothelial barrier function</li>
      <li>Located in incubator for long term experiments</li>
      <li>Real time visualization of TEER, control of sampling rate</li>
      <li>Multiple samples</li>
      <li>Easy sample tracking</li>
      <li>Easily sterilizable, disposable array and autoclavable stainless dipping pins</li>
      <li>Quantitative data easy to export to third party programs</li>
      <li>Create figures and plots of data</li>
    </ul>
    
    <p>Non-invasive measurements may be made continuously for days and even weeks. The fixed position of electrodes throughout the measurements eliminates operator variability allowing 
      precise and repeatable measurements of endothelial layers with weak barrier function (&lt;10 ohm-cm2). No need to take the station out of the incubator eliminating temperature variations.</p>
      
      <p>The TEER24 accepts standard 24 well membrane inserts from any commercial supplier. These are placed in a disposable sterile base plate with addressable electrodes on the well bottom. 
        Once medium and cell suspension are added, an autoclavable array of gold dipping electrodes is inserted and measurements begun. Even with the dipping electrodes in place, the media 
        both in and out of the inner well can be easily reached with standard micropipettes.</p>
  </div>
  
  <!--<div id="video" class="tab-pane fade">
    <iframe width="100%" height="500px" src="https://www.youtube.com/embed/S-thTTqefls?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>-->
  
  <div id="specs" class="tab-pane fade">
    <ul>
      <li>10 sec/well read rate</li>
      <li>24 well microplates use standard 6mm filters</li>
      <li>Gold electrodes</li>
      <li>Connects to laptop via USB</li>
      <li>Power: powered from USB output</li>
      <li>24 well plates are barcoded with unique serial number for tracking</li>
      <li>24 well dipping assembly is medical grade stainless, can be autoclaved</li>
      <li>Station dimensions 10 x 3 x 15cm</li>
      <li>Power and mode indicator light located on front panel</li>
      <li>Rear panel: USB</li>
      <li>Power: 3 watts</li>
      <li>Windows 10 OS</li>
    </ul>
  </div>

  <div id="options" class="tab-pane fade">
    <p>Options – Descriptions and links of optional add-on products and/or training.</p>
  </div>

  <div id="data" class="tab-pane fade">
    <a href="https://cdn.shopify.com/s/files/1/0739/2763/files/ABP_TEER_24_Sheet_PROOF_for_Website.pdf?10890901850798405146" title="Download Datasheet Here!" target="_blank">
      <img src="//cdn.shopify.com/s/files/1/0739/2763/files/ABP_TEER_24_Datasheet_Image_large.jpg?v=1537305408" alt="TEER 24 Datasheet" />
    </a>
  </div>

</div>